:root{
  --cor1: #fff;
  --cor2: #888;
  --cor3: #000;
  --cor4: #666;
}
* {box-sizing: border-box;}
.i-b {display: inline-block;}
.n {display: none}
.laranja {background-color: darkorange;}
.btn {
  width: 200px;
  border:thin solid var(--cor1);
  border-top-right-radius: 20% 100%;
  border-bottom-right-radius: 20% 100%;
  border-top-left-radius: 20% 100%;
  border-bottom-left-radius: 18% 100%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  color: var(--cor1);
  transition: all .3s;
}
.btn:hover {
  text-decoration: underline overline;
  letter-spacing: 5px;
  box-shadow: 1px 1px 5px var(--cor3);
  transition: all .3s;
}
.btn:active {
  box-shadow: 1px 1px 5px var(--cor3) inset;
  text-shadow: 1px 1px 1px var(--cor3);
}
.btn-active {
  background-color: green;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(../img/fundo.jpg);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  position: fixed;
  background-color:rgb(0,0,0);
  padding: 10px 0;
  top: 0;
}
.info-perfil {
  background-color: rgba(0, 0, 0, .25);
  padding: 5px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  border-top-right-radius: 20% 100%;
  border-bottom-right-radius: 20% 100%;
  border-top-left-radius: 20% 100%;
  border-bottom-left-radius: 18% 100%;
  border: thin solid var(--cor2);
}
.foto-perfil {
  position: absolute;
  margin-left: -25px;
  margin-top: -5px;
  width: 180px;
  height: 180px;
  background-color: var(--cor1);
  background-image: url(https://lh3.googleusercontent.com/WL6oxLI_zXPBcEuQixj8MSexv8kdiGSBTYOvjYolfDJShgCFfoCQ3HKdNrXr0fN7XrMpGrVugAKq7EO3UC9NeSeQUtiUnPFsDi4pgkcDfl2gDjHVkcj_V3lB4-KGULeLPNGFDLnYF1Md8m5oGFGGtqtLONn21sggH3LoJwdDGdxe2vCC84lmwfYJ4L-K3FcZ0W_VWWTBf0UGCRWc_Mngq9YGE73FbHX82dXTNP2DFN1C_pgUL9Zlypfg4Wgug6Zl8lPdfaRdKEoqqN8pI6Ty3hPj5rdM369530di-pn3fhM-54ongC1FiExeg0Pc2qqp8bHRlqlqnoirvxVnIPCkDJukfaOFe5ktUTDp-X__OaOO0RPR5t0FnydN13zWOcUHDZRv0Mk6r4kaubFDA7V_mEzxkygXbxgeSs30_ZqD3r8h7gadLrSig4AOEsazUiKzOOp2yFePuOfkSmIAF_0Hv292wLKeGQyDIsZXcCopsws_9Er3HFgyhmQO1K1O4L55X0Zw65AoGaTx1MZ65LRQuMXXoBQMe7Emj4mTzZKqWocI03pbn2h8y7j9YmpNIfaHJ5gZUpM6UfTeCoyjteFYhAfjQggMcoA5TojV5qxiu9dtl81ibp47SBoBZ7l8_J1DS2Jai6WSkp9WGKb0XXaCPE7Z=w526-h657-no);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 180px;
  background-clip: content-box;
  padding: 5px;
  border: thin solid var(--cor2);
  transition: all .3s;
}
.foto-perfil:hover {
  background-size: 250px;
  transition: all .3s;
  background-position: 75% 35%;
}
.info-perfil h1 {
  color: var(--cor1);
  font-size: 3.5em;
  width: max-content;
  margin-top: 25px;
  margin-left: 190px;
  text-decoration: underline overline;
  text-decoration-style: double;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 16px double var(--cor1);
  border-bottom: 16px double var(--cor1);
}
nav {
  margin-top: 200px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}
main {
  background-color: var(--cor1);
  padding: 10px;
  margin: 0 auto;
  width: 1024px;
}
section {
  padding: 10px;
}
